


header {
    display: flex;
    justify-content: space-between;
    background-color: #191D20;
    padding: 5px 5px;
}

nav{
    text-align: right;
    margin-right: 15px;
}

.logo {
    padding: 5px;
    border-radius: 100%;
    width: 60px; 
    height:60px;
}

a {
    display: inline-flex;
    text-align: center;
    color: #FFF;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: transform 1ms linear;  
}
  
a:hover {
    transform: scale(1.07);
}

#button {
    display: inline-block;
    height: 35px;
    padding: 0 5px;
    margin-right: 0;
    line-height: 35px;
    background: rgba(196, 196, 196, 0.8);
    border-radius: 50px;
    margin-top: 15px;
    transition: transform 1ms linear;    
}

#button:hover{
  transform: scale(1.08);
}

.container {
  position: absolute;
  width: 811px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  border: none;
  z-index : 999;
  background: rgba(89, 84, 84, 0.50); 
}


.pBanner{
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-size: 34px;
  color: #FFF;
  position: absolute;
  margin-top: 0;
  padding: 0;
  text-align: center;
  left: 13%;
  top: 40%;
}

#buttonBanner{
  background: #191D20;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
  border-radius: 31px;
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  font-weight: 300;
  display: inline-block;
  padding: 0 5px;
  line-height: 35px;
  width: 125px;
  height: 40px;
  color: #fff;
  margin-top: 45%;
  margin-right: 45px;
  margin-left: 75px;
}

img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width:100%;
    height:100vh;
}

.fade 
{
  -webkit-animation-name: fade-image;
  -webkit-animation-duration: 5.5s;
  animation-name: fade-image;
  animation-duration: 5.5s;
}
  
@-webkit-keyframes fade-image
{
  from {opacity: .8} 
  to {opacity: 1}
}
  
@keyframes fade-image
{
  from {opacity: .8} 
  to {opacity: 1}
}



