h1{
    font-family: 'Mulish', sans-serif;
    color: #FFF;
    position: absolute;
    margin-top: 10px;
    font-weight: 800;
    padding: 0;
    font-size: 59px;
    line-height: 150%;
    text-align: center;
    left: 2,5%;
    top: 23%;
  }